<!doctype html>
<html lang="en">
<head>
    <title>{% block page_title %}Covid 19 Visualizations{% endblock %}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="{{ static_url_for('static', filename='build/main_css.bundle.css') }}"/>
    <link rel="shortcut icon" href="{{ static_url_for('static', filename='build/img/favicon.ico') }}">
</head>
<body>
{% include "nav.html" %}
<div class="wrapper d-flex align-items-stretch">
    {% include 'sidenav.html' %}

    <div id="content" class="p-4 p-md-5 pt-5">
        <main role="main">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="row">
                        <div class="col-md-12">
                            {% for category, message in messages %}
                                <div class="alert alert-{{ category }}">
                                    <a class="close" title="Close" href="#" data-dismiss="alert">&times;</a>
                                    {{ message }}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </main>
    </div>
</div>
{% include "footer.html" %}
<script src="{{ static_url_for('static', filename='build/main_js.bundle.js') }}"></script>
{% block js %}{% endblock %}
</body>
</html>