{% macro menu_item(endpoint, fa_icon, name) -%}
  <li class="{{ 'active' if request.endpoint == endpoint }}">
    <a href="{{ url_for(endpoint) }}"><span class="fa {{fa_icon}} mr-3"></span> {{ name }}</a>
  </li>
{%- endmacro %}

<nav id="sidebar">
    <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary">
            <i class="fa fa-bars"></i>
            <span class="sr-only">Toggle Menu</span>
        </button>
    </div>
    <div class="p-4">
        <ul class="list-unstyled components mb-5">
            {{ menu_item('public.home', 'fa-home', 'Home') }}
            {{ menu_item('stats.world', 'fa-globe', 'World') }}
            {{ menu_item('stats.overview', 'fa-table', 'Stats per country') }}

            {% if current_user.is_authenticated %}
                {{ menu_item('public.logout', 'fa-user', 'Logout') }}
            {% endif %}
        </ul>
    </div>
</nav>
