{% extends "layout.html" %}

{% block content %}
    <h1>{{ location.full_name }}</h1>
    <hr/>
    <table id="table" class="table table-striped" style="width:100%">
    <thead>
    <tr><th>Stat</th><th>Value</th></tr>
    </thead>
        <tbody>
        <tr>
            <td>Infected</td>
            <td>{{ "{:,.0f}".format(location.last_confirmed.amount or 0) }}</td>
        </tr>
        <tr>
            <td>Recovered</td>
            <td>{{ "{:,.0f}".format(location.last_recovered.amount or 0) }}</td>
        </tr>
        <tr>
            <td>Deaths</td>
            <td>{{ "{:,.0f}".format(location.last_death.amount or 0) }}</td>
        </tr>
        <tr>
            <td>Last updated</td>
            <td>{{ location.last_updated }}</td>
        </tr>
        <tr>
            <td>Location</td>
            <td>{{ '{}, {}'.format(location.latitude, location.longitude) }}</td>
        </tr>
        </tbody>
    </table>

    <div id="plotly-confirmed"></div>
    <div id="plotly-recovered"></div>
    <div id="plotly-deaths"></div>
    <div id="plotly-confirmed-delta"></div>
{% endblock %}
