{% extends "layout.html" %}

{% block content %}
    <div class="container">
        <div class="row col-12">
            <h1 class="md-5">{{ location.country }}</h1>
        </div>

        <div class="row">
            <div class="col-lg-4">
                <div class="card border-primary">
                    <div class="card-body text-center">
                        <h5 class="md-5">Infected</h5>
                        <h1>{{ "{:,.0f}".format(location.last_confirmed.amount or 0) }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-primary">
                    <div class="card-body text-center">
                        <h5 class="md-5">Recovered</h5>
                        <h1>{{ "{:,.0f}".format(location.last_recovered.amount or 0) }}</h1>
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="card border-primary">
                    <div class="card-body text-center">
                        <h5 class="md-5">Deaths</h5>
                        <h1>{{ "{:,.0f}".format(location.last_death.amount or 0) }}</h1>
                    </div>
                </div>
            </div>
        </div>

        <div class="row col-12">
            <h2 class="title-clear">Simple statistics</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <p>Let's have a look at simple statistics, such as:</p>
                <ul>
                    <li>The total amount of infected persons in {{ location.country }} due to the Corona virus.</li>
                    <li>The total amount of recovered persons in {{ location.country }} due to the Corona virus.</li>
                    <li>The total amount of people passed away in {{ location.country }} due to the Corona virus.</li>
                </ul>
            </div>
        </div>

        <div class="row col-12 graph">
            <div id="plotly-confirmed" style="width: 100%;"></div>
        </div>

        <div class="row col-12 graph">
            <div id="plotly-recovered" style="width: 100%;"></div>
        </div>

        <div class="row col-12 graph">
            <div id="plotly-deaths" style="width: 100%;"></div>
        </div>

        <div class="row col-12">
            <h2 class="title-clear">More interesting graphs</h2>
        </div>
        <div class="row">
            <div class="col-12">
                <p>The previous graphs are not very interesting. Let's have a look at the amount of infected people
                    per day. And let's compare it to China. For our second graph, we align the data the following:</p>
                <ul>
                    <li>{{ location.country }} day 1: {{ location.day1|strftime }}</li>
                    <li>China day 1: {{ china.day1|strftime }}</li>
                </ul>
            </div>
        </div>

        <div class="row col-12 graph">
            <div id="plotly-confirmed-delta" style="width: 100%;"></div>
        </div>

        <div class="row col-12 graph">
            <div id="plotly-confirmed-china" style="width: 100%;"></div>
        </div>

        <div class="row col-12">
            <h2 class="title-clear">Let's predict the future!</h2>
        </div>

        <div class="row">
            <div class="col-12">
                <p>Based on the data that we have collected, we can try to fit a mathematical model. With this model,
                    we can actually predict the future. If you would like to know how you can construct this model,
                    <a href="https://epidemic-simulator.now.sh/#/about">take a look at this page</a>. Don't ask me!
                    These guys also earn the credits for the two graphs below.</p>
                <p>As day 1 we take: {{ location.day1|strftime }}</p>
            </div>
        </div>

        <div class="row col-12 graph">
            <div id="plotly-future-infected" style="width: 100%;"><div class="text-center"><img width="100"
                    src="{{ static_url_for('static', filename='build/img/loading.gif') }}"
                    alt=""/><p>Please wait while, the graph is loaded...</p></div></div>
        </div>

        <div class="row col-12 graph">
            <div id="plotly-future-deaths" style="width: 100%;"><div class="text-center"><img width="100"
                    src="{{ static_url_for('static', filename='build/img/loading.gif') }}"
                    alt=""/><p>Please wait while, the graph is loaded...</p></div></div>
        </div>
    </div>
{% endblock %}
