{% extends "layout.html" %}

{% block content %}
    <h1>{{ location.full_name }}</h1>
    <hr/>
    <table id="table" class="table table-striped" style="width:100%">
    <thead>
    <tr><th>Stat</th><th>Value</th></tr>
    </thead>
        <tbody>
        <tr>
            <td>Infected</td>
            <td>{{ "{:,.0f}".format(location.last_confirmed.amount or 0) }}</td>
        </tr>
        <tr>
            <td>Recovered</td>
            <td>{{ "{:,.0f}".format(location.last_recovered.amount or 0) }}</td>
        </tr>
        <tr>
            <td>Deaths</td>
            <td>{{ "{:,.0f}".format(location.last_death.amount or 0) }}</td>
        </tr>
        </tbody>
    </table>

    <div class="row">
        <div class="col-6"><div id="plotly-confirmed"></div></div>
        <div class="col-6"><div id="plotly-confirmed-delta"></div></div>
    </div>

    <div class="row">
        <div class="col-6"><div id="plotly-recovered"></div></div>
        <div class="col-6"><div id="plotly-recovered-delta"></div></div>
    </div>

    <div class="row">
        <div class="col-6"><div id="plotly-deaths"></div></div>
        <div class="col-6"><div id="plotly-deaths-delta"></div></div>
    </div>

    <div class="row">
        <div class="col-6"><div id="plotly-confirmed-delta2"></div></div>
    </div>
{% endblock %}
