
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #999999;
}

footer a {
  color: #999999;
}

footer .footer-left {
  float: left;
  margin-left: 25px;
}

footer .footer-right {
  float: right;
  margin-right: 25px;
  list-style: none;
}
