{% extends "layout.html" %}

{% block content %}
    <div class="container-narrow">
        <h1 class="mt-5">Login</h1>
        <br/>
        <p>Login in to our backend, only for admins.</p>
        <hr />
        <form id="loginForm" class="form form-login" method="POST" action="" role="form">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.username.label }}
                {{ form.username(placeholder="Username", class_="form-control") }}
            </div>
            <div class="form-group">
                {{ form.password.label }}
                {{ form.password(placeholder="Password", class_="form-control") }}
            </div>
            <p><input class="btn btn-primary" type="submit" value="Login"></p>
        </form>
    </div>
{% endblock %}

